!!! 5
%html
  %head
    %title Sinatra AWS Upload Example
    %link{:rel => "stylesheet", :href => "http://cachedcommons.org/cache/blueprint/0.9.1/stylesheets/screen-min.css", :type => "text/css", :media =>"all"} 
    %link{:rel => "stylesheet", :href => "/css/swfupload.css", :type => "text/css", :media => "all"}
    %script{:src => "/js/swfupload/swfupload.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
    %script{:src => "http://cachedcommons.org/cache/jquery-swfupload/1.0.0/javascripts/jquery-swfupload-min.js"}

  %body
    = yield